.home-image {
  width: 100%;
  height: 0px;
}
body {
  background-color: aliceblue;
}
.container {
  width: 100%;
}
.title-header {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  
}
.nav-container{
margin-left: 5%;
}


.carousel-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc107;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
}
.carousel-button:hover {
  background-color: black;
  color: #ffc107;
}